*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.log
.classpath
.claude
.DS_Store
.externalToolBuilders/
.gradle/
.vscode/
.idea/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.profileconfig.json
bin/
local.properties
target/
tmp/
build/
out/
**/src/*/generated
**/**/.factorypath
