name = SoftHSM
library = /usr/lib/softhsm/libsofthsm2.so
slotListIndex = 0
showInfo = false

# In order for ECDH Key Agreement to work, we need the following for derived secrets
attributes(generate,CKO_SECRET_KEY,CKK_GENERIC_SECRET) = {
  CKA_SENSITIVE = false
  CKA_EXTRACTABLE = true
}
